@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(167, 215, 226);
}

.logo {
    width: 150px;
    height: 60px; 
}

.bg {   
    background: url(../public/images/bg-1.jpeg) no-repeat center center fixed;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 0%;
}

.swiper-button-next::after,
.swiper-button-next::after{
    color: #a8dadc
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
    background: #a8dadc !important ;
}
